@model PartTimeV1.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<div class="container body-content">
    <div class="row">
        <div class="col-md-11">
            <section id="loginForm">
                <h2>@ViewBag.Title.</h2>
                <hr />
                <p class="text-success">@ViewBag.StatusMessage</p>
                <div>
                    <h4>Change your account settings</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>Password:</dt>
                        <dd>
                            [
                            @if (Model.HasPassword)
                            {
                                @Html.ActionLink("Change your password", "ChangePassword")
                            }
                            else
                            {
                                @Html.ActionLink("Create", "SetPassword")
                            }
                            ]
                        </dd>
                    </dl>
                </div>
            </section>
        </div>
    </div>
</div>