@using Microsoft.AspNet.Identity
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Part Time | Register</title>

    <!-- Favicons -->
    <link href="~/SiteImages/favicon.jpg" rel="icon">
    <link href="~/TemplateAssets/WebSite/assets/WebSite/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/TemplateAssets/DashBord/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/TemplateAssets/DashBord/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/TemplateAssets/DashBord/plugins/daterangepicker/daterangepicker.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/TemplateAssets/DashBord/dist/css/adminlte.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/TemplateAssets/DashBord/plugins/select2/css/select2.min.css">

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed sidebar-collapse">

    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            @*<ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                    </li>
                </ul>*@

            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">

                <!-- Notifications Dropdown Menu -->
                @*<li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-bell"></i>
                            <span class="badge badge-warning navbar-badge">15</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-item dropdown-header">15 Notifications</span>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-envelope mr-2"></i> 4 new messages
                                <span class="float-right text-muted text-sm">3 mins</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-users mr-2"></i> 8 friend requests
                                <span class="float-right text-muted text-sm">12 hours</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-file mr-2"></i> 3 new reports
                                <span class="float-right text-muted text-sm">2 days</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                        </div>
                    </li>*@

                <li class="nav-item dropdown">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "-", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                </li>
                                <li>
                                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-power-off"></i></a>
                                </li>
                            </ul>
                        }
                    }
                </li>

            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/SiteImages/favicon.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Part Time</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview menu-open">
                            <a href="@Url.Action("Index", "Admin")" class="nav-link active">
                                <i class="nav-icon fas fa-tablet-alt"></i>
                                <p>
                                    Registration
                                </p>
                            </a>
                            <a href="@Url.Action("Users", "Admin")" class="nav-link">
                                <i class="nav-icon fas fa-cloud-download-alt"></i>
                                <p>
                                    Users
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->

        <div class="wrapper">

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Profile</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item">
                                        <a href="#">Home</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div><!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="card card-default">
                            <!-- /.card-header -->
                            <div class="card-body">

                                <div id="profilePageDiv" class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>1. Full Name/සම්පුර්ණ නම:</label>
                                            <input id="fullname" type="text" class="form-control" placeholder="සම්පුර්ණ නම" maxlength="490" style="width: 80%">
                                        </div>
                                        <div class="form-group">
                                            <label>2. Short Name/කෙටි නම:</label>
                                            <input id="shortname" type="text" class="form-control" placeholder="ඔබට ආමන්ත්‍රණය කළ යුතු නම" maxlength="490" style="width: 80%">
                                        </div>
                                        <div class="form-group">
                                            <label>3. NIC number/ජාතික හැදුනුම්පත් අංකය:</label>
                                            <input id="nicno" type="text" class="form-control" placeholder="ජාතික හැදුනුම්පත් අංකය" data-inputmask='"mask": "999999999999V"' data-mask style="width: 50%">
                                        </div>

                                        <label for="photos">4. Photos/ඡායාරූප:</label>
                                        <ul>
                                            <li>ඔබගේ මුහුණ පැහැදිලිව හඳුනාගත හැකි, ඔබගේ සැබෑ පැහැය / පෙනුම වෙනස් නොකළ (unedit) ඡායාරූප පමණක් ඇතුලත් කිරීමට වග බලා ගත යුතුය.</li>
                                            <li>Full Photo (සම්පූර්ණ උස පෙනෙන) 1ක් ද ඇතුලත් කරන්න.</li>
                                            <li>කාන්තාවන් make up සහිත ඡායාරූප 1කට අමතරව, makeup රහිත (unedited) ඡායාරූප 1ක්වත් අවම වශයෙන් ඇතුලත් කල යුතු වේ.</li>
                                            <li>ඡායාරූප 5ම ඇතුලත් කිරීම මඟින් වැඩි ප්‍රතිඵලයක් ලබා ගත හැක.</li>
                                        </ul>
                                        <div class="form-group">
                                            <label for="exampleInputFile"></label>
                                            <div class="input-group">
                                                <div id="Image1"> </div>
                                                <div class="custom-file">
                                                    <input id="image01" type="file" onchange="encodeImageFileAsURL(this, '#Image1', 'image01');">
                                                </div>
                                            </div>

                                            <label for="exampleInputFile"></label>
                                            <div class="input-group">
                                                <div id="Image2"></div>
                                                <div class="custom-file">
                                                    <input id="image02" type="file" onchange="encodeImageFileAsURL(this, '#Image2' , 'image02');">
                                                </div>
                                            </div>


                                            <label for="exampleInputFile"></label>
                                            <div class="input-group">
                                                <div id="Image3"> </div>
                                                <div class="custom-file">
                                                    <input id="image03" type="file" onchange="encodeImageFileAsURL(this, '#Image3', 'image03');">
                                                </div>
                                            </div>


                                            <label for="exampleInputFile"></label>
                                            <div class="input-group">
                                                <div id="Image4"> </div>
                                                <div class="custom-file">
                                                    <input id="image04" type="file" onchange="encodeImageFileAsURL(this, '#Image4', 'image04');">
                                                </div>
                                            </div>

                                            <label for="exampleInputFile"></label>
                                            <div class="input-group">
                                                <div id="Image5"> </div>
                                                <div class="custom-file">
                                                    <input id="image05" type="file" onchange="encodeImageFileAsURL(this, '#Image5', 'image05');">
                                                </div>
                                            </div>
                                        </div>

                                        <br />

                                        <div class="form-group">
                                            <label>5. Mobile Numbers/දුරකථන අංක:</label>
                                            <ul>
                                                <li>ඔබව සම්බන්ධ කරගත හැකි ප්‍රධාන අංකය.</li>
                                                <li>Whatsapp, Viber බාවිතා වන්නේ නම් අංකය ඉදිරියේ අදාල කොටුද සලකුණු කරන්න.</li>
                                                <li>වෙනත් අංක බාවිතා වන්නේ නම් ඒවාද දක්වන්න.</li>
                                            </ul>

                                            <div class="row">
                                                <div class="col">
                                                    <input id="mobile01" type="text" class="form-control" placeholder="ප්‍රදාන දුරකතන අංකය" data-inputmask='"mask": "9999999999"' data-mask style="width: 100%">
                                                </div>

                                                <div class="col">
                                                    <div class="form-check">
                                                        <input type='checkbox' id='whatsApp1' value='yes' />
                                                        <span style="width:100px;display:inline-block;">WhatsApp</span>
                                                        <input type="checkbox" id="viber1" value="yes" />
                                                        <span style="width:100px;display:inline-block;">Viber</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <label></label>

                                            <div class="row">
                                                <div class="col">
                                                    <input id="mobile02" type="text" class="form-control" placeholder="දුරකතන අංකය" data-inputmask='"mask": "9999999999"' data-mask style="width: 100%">
                                                </div>

                                                <div class="col">
                                                    <div class="form-check">
                                                        <input type='checkbox' id='whatsApp2' value='yes' />
                                                        <span style="width:100px;display:inline-block;">WhatsApp</span>
                                                        <input type="checkbox" id="viber2" value="yes" />
                                                        <span style="width:100px;display:inline-block;">Viber</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <label></label>

                                            <div class="row">
                                                <div class="col">
                                                    <input id="mobile03" type="text" class="form-control" placeholder="දුරකතන අංකය" data-inputmask='"mask": "9999999999"' data-mask style="width: 100%">
                                                </div>

                                                <div class="col">
                                                    <div class="form-check">
                                                        <input type='checkbox' id='whatsApp3' value='yes' />
                                                        <span style="width:100px;display:inline-block;">WhatsApp</span>
                                                        <input type="checkbox" id="viber3" value="yes" />
                                                        <span style="width:100px;display:inline-block;">Viber</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label>6. Date of birth/උපන් දිනය :</label>
                                            <input id="dob" type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask style="width: 50%">
                                        </div>

                                        <div class="form-group">
                                            <label>7. Age/වයස:</label>
                                            <input id="age" type="text" class="form-control" placeholder="වයස" data-inputmask='"mask": "99"' data-mask style="width: 50%">
                                        </div>

                                        <div class="form-group">
                                            <label>8. Gender/ස්ත්‍රී පුරුෂ බව:</label>
                                            <div class="form-check">
                                                <input type='radio' id='genderM' value='yes' name="gender" />
                                                <span style="width:100px;display:inline-block;">Male/පුරුෂ</span>
                                                <input type="radio" id="genderF" value="yes" name="gender" />
                                                <span style="width:100px;display:inline-block;">Female/ස්ත්‍රී</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>9. Current City/දැනට පදිංචිය:</label>
                                            <ul>
                                                <li>ඔබේ නගරය මෙහි නොමැති නම්, දැක්වෙන නගර අතරින් ඔබේ නගරයට ආසන්නම නගරය තෝරන්න.</li>
                                            </ul>

                                            <div class="row">
                                                <div class="col">
                                                    <select id="currentdistrict" style="height: 32px;width: 100%;"></select>
                                                </div>

                                                <div class="col">
                                                    <select id="currentcity" style="height: 32px;width: 100%;"></select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>10. Home Town/ස්ථිර පදිංචිය:</label>
                                            <ul>
                                                <li>ඔබේ නගරය මෙහි නොමැති නම්, දැක්වෙන නගර අතරින් ඔබේ නගරයට ආසන්නම නගරය තෝරන්න.</li>
                                            </ul>

                                            <div class="row">
                                                <div class="col">
                                                    <select id="homedistrict" style="height: 32px;width: 100%;"></select>
                                                </div>

                                                <div class="col">
                                                    <select id="hometown" style="height: 32px;width: 100%;"> </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>11. T-shirt size: </label>
                                            <div class="form-check">
                                                <input type='radio' id='tsizeS' value='yes' name="tsize" />
                                                <span style="width:40px;display:inline-block;">S</span>
                                                <input type="radio" id="tsizeM" value="yes" name="tsize" />
                                                <span style="width:40px;display:inline-block;">M</span>
                                                <input type='radio' id='tsizeL' value='yes' name="tsize" />
                                                <span style="width:40px;display:inline-block;">L</span>
                                                <input type="radio" id="tsizeXS" value="yes" name="tsize" />
                                                <span style="width:40px;display:inline-block;">XL</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>12. I am:</label>
                                            <div class="form-check">

                                                <div id="student1">
                                                    <input id="student" class="form-check-input" value="yes" type="checkbox">
                                                    <label class="form-check-label">A Student/ශිෂ්‍ය</label>
                                                </div>

                                                <div id="studentdetails" style="display:none;">
                                                    <ul>
                                                        <li>
                                                            <input id="studentdetails1" type="text" class="form-control" placeholder="University/විශ්ව විද්‍යාලය" maxlength="190" style="width: 80%">
                                                        </li>
                                                        <li>
                                                            <input id="studentdetails2" type="text" class="form-control" placeholder="Course/හදාරන උපාදියේ නම" maxlength="190" style="width: 80%">
                                                        </li>
                                                        <li>
                                                            <input id="studentdetails3" type="text" class="form-control" placeholder="Year/ඉගනුම ලබන වසර" data-inputmask='"mask": "9"' data-mask maxlength="190" style="width: 80%">
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div id="employee1">
                                                    <input id="employee" class="form-check-input" value="yes" type="checkbox">
                                                    <label class="form-check-label">Full time employed/දැනට පුර්ණකාලීන රැකියාවක නිරතවේ </label>
                                                </div>

                                                <div id="employeedetails" style="display:none;">
                                                    <ul>
                                                        <li>
                                                            <input id="employeedetails1" type="text" class="form-control" placeholder="Company/ආයතනය" maxlength="190" style="width: 80%">
                                                        </li>
                                                        <li>
                                                            <input id="employeedetails2" type="text" class="form-control" placeholder="Branch/නගරය" maxlength="190" style="width: 80%">
                                                        </li>
                                                        <li>
                                                            <input id="employeedetails3" type="text" class="form-control" placeholder="Designation/තනතුර" maxlength="190" style="width: 80%">
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div id="parttime1">
                                                    <input id="parttime" class="form-check-input" value="yes" type="checkbox">
                                                    <label class="form-check-label">Full time promoter/දැනට පුර්ණකාලීන අලෙවි ප්‍රවර්ධකයෙක් ලෙස කටුතු කරයි </label>
                                                </div>
                                            </div>

                                            <div class="form-check">
                                                <input id="freelance" class="form-check-input" value="yes" type="checkbox">
                                                <label class="form-check-label">Searching for part time work on weekends or selected days/සති අන්තයේ හෝ සතියේ දින වල part-time job කිරීමට බලාපොරොත්තු වෙමි </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>13. English speaking/ඉංග්‍රීසි හොඳින් හසුරවයි නම් Fluent යොදන්න:</label>
                                            <div class="form-check">
                                                <input type='radio' id='englishA' value='yes' name="tsize" />
                                                <span style="width:100px;display:inline-block;">Fluent</span>
                                                <input type="radio" id="englishB" value="yes" name="tsize" />
                                                <span style="width:100px;display:inline-block;">Normal</span>
                                                <input type='radio' id='englishC' value='yes' name="tsize" />
                                                <span style="width:100px;display:inline-block;">Can`t</span>
                                            </div>
                                            @*<input id="englishlan" type="text" class="form-control" placeholder="Fluent" maxlength="90" style="width: 50%">*@
                                        </div>

                                        <div class="form-group">
                                            <label>14. Tamil speaking/දෙමළ හොඳින් හසුරවයි නම් Fluent යොදන්න:</label>
                                            <div class="form-check">
                                                <input type='radio' id='tamilA' value='yes' name="tsize" />
                                                <span style="width:100px;display:inline-block;">Fluent</span>
                                                <input type="radio" id="tamilB" value="yes" name="tsize" />
                                                <span style="width:100px;display:inline-block;">Normal</span>
                                                <input type='radio' id='tamilC' value='yes' name="tsize" />
                                                <span style="width:100px;display:inline-block;">Can`t</span>
                                                @*<input id="tamillan" type="text" class="form-control" placeholder="Fluent" maxlength="90" style="width: 50%">*@
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>15. Sales promotion experience/අලවි ප්‍රවර්ධකයෙක් ලෙස අත්දැකීම් ඇතිනම්: </label>
                                            <ul>
                                                <li>
                                                    <label>Number of years/අත්දැකීමේ ඇති වසර ගණන:</label>
                                                    <input id="promoexperience" type="tel" class="form-control" placeholder="Year/වසර ගණන" data-inputmask='"mask": "99"' data-mask style="width: 50%">
                                                </li>

                                                <li>
                                                    <label>Brands/අත්දැකීම් ඇති වෙළද නාම:</label>
                                                    <div class="select2-blue">
                                                        <select id="brandnames" class="select2" multiple="multiple" data-placeholder="-Select Brands-" data-dropdown-css-class="select2-blue" style="width: 100%;"></select>
                                                    </div>
                                                </li>

                                                <li>
                                                    <label>Other part time experience/වෙනත් parttime අත්දැකීම්:</label>
                                                    <div class="select2-blue">
                                                        <select id="otherpromoexperience" class="select2" multiple="multiple" data-placeholder="-Select Experience-" data-dropdown-css-class="select2-blue" style="width: 100%;">
                                                            <option>Data entry</option>
                                                            <option>Leaflet</option>
                                                            <option>Photography/Videography </option>
                                                            <option>Cooking</option>
                                                            <option>Catering</option>
                                                            <option>Delivery/ packing</option>
                                                            <option>Stock counting</option>
                                                            <option>Modeling</option>
                                                            <option>Cheering </option>
                                                            <option>Acting</option>
                                                            <option>Dancing</option>
                                                            <option>Magic shows </option>
                                                        </select>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <hr />

                                <div class="row">
                                    <div class="col-md-12">
                                        <label>කොන්දේසි සහ එකඟතාවයන්</label>
                                        <ol>
                                            <li>
                                                සේවායෝජකයා නියම කල නීති රීති අනුව කිසිඳු අතපසු කිරීමකින් තොරව සේවය සිදුකරන අතර එසේ නොවී මා කරන ඕනෑම වරදකදී වැටුපෙන් යම් ප්‍රමාණයක් හෝ සම්පූර්ණ මුදලම අඩු කර ගැනීමට parttime.lk වෙත අයිතිය ඇති බව දනිමි.
                                            </li>
                                            <li>
                                                භාරගත් කාර්යය පැහැර හැරීම, අසත්‍ය තොරතුරු ලබා දීම, පොරොන්දු පරිදි කටයුතු නොකිරීම තුලින් parttime.lk ආයතනයේ මාගේ ගිණුම (Profile) තාවකාලිකව හෝ සදාකාලිකව තහනම් (Restrict / Suspend ) වන බව දනිමි.
                                            </li>
                                            <li style="list-style-type: none;">
                                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#agremeentModel">Read full agreement</button>
                                            </li>
                                        </ol>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input id="submit" class="form-check-input" type="checkbox">
                                                <label class="form-check-label">I would like to participate/මම සහභාගී වීමට කැමැත්තෙමි </label>
                                                <button id="sumbitprofile" type="submit" disabled onclick="submitFunction()" class="btn btn-info">Save</button>
                                                <button type="button" class="btn btn-warning">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            <!-- Modal -->
            <div id="agremeentModel" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <p>
                                parttime.lk අප සේවා යෝජකයන් හා අර්ධකාලීන සේවකයන් අතර තුනවන පාර්ශවයක් ලෙස කටයුතු කරන අතර එකී තුන්වන පාර්ශවයක් ලෙස අප බැදී සිටින සියලූ කාරනා උපරිම විශ්වාසයකින් හා වගකීමෙන් ඉටු කරන්නෙමු.
                            </p>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>
                                *Customer aggrement*
                                <ul>
                                    <li>
                                        parttime.lk අර්ධ කාලීන සේවකයකු ලෙස ලියාපදින්චි වන මම අදාල සේවා ස්ථානය තුල උපරිම විශ්වාසය රැකෙන පරිදි මෙන්ම අවන්ක හා වගකීමෙන් යුතුව සේවා සපයනු ලබන අතර එසේ නොකලහොත් මාගේ ගිණුම තාවකාලිකව හෝ සදාකාලිකව තහනම් වන බව මා හොදින් දන්නා අතර ආයතනය විසින් ගනු ලබන ඕනෑම නීතිමය පියවරකට සහය දීමට එකග වෙමි.
                                    </li>

                                    <li>
                                        භාරගත් වැඩ පැහැර හැරීම, අසත්‍ය තොරතුරු ලබා දීම පොරොන්දු පරිදි කටයුතු නොකිරීම වැනි දෑ තුලින් ද තම සාමාජිකත්වය නැවත අය කර ගත නොහැකි ලෙස තහනම් වන බව මා හොදින් දනිමි.
                                    </li>

                                    <li>
                                        භාරගත් වැඩ පැහැර හැරීම, අසත්‍ය තොරතුරු ලබා දීම පොරොන්දු පරිදි කටයුතු නොකිරීම වැනි දෑ තුලින් ද තම සාමාජිකත්වය නැවත අය කර ගත නොහැකි ලෙස තහනම් වන බව මා හොදින් දනිමි.
                                    </li>

                                    <li>
                                        සේවායෝජකයන් නියම කරන ලද වේලාවට අදාල ස්ථානය සදහා සේවයට වාර්තා කිරීමට මා බැදී සිටින අතර කිසිදු හේතුවක් මත එකගවන කාලය සම්පූර්ණ වීමට පෙර සේවයෙන් බැහැර නොයන බවට පොරොන්දු වෙමි..
                                    </li>

                                    <li>
                                        ඉහත දක්වා ඇති වැරදි හෝ යම් අතපසු වීම් හේතුවෙන් parttime.lk වෙත වන අපකීර්තිය හෝ මූල්‍යමය පාඩු වෙනුවෙන් වැටුපෙන් යම් මුදලක් අය කිරීමට හෝ උපරිම වශයෙන් වැටුප් නොගෙවා සිටීමට ආයතනය වෙන සම්පූර්ණ අයිතිය මා ලබා දෙන්නෙමි.
                                    </li>
                                </ul>
                            </p>
                            <p>
                                *Special Notice*
                                <ul>
                                    <li>
                                        parttime.lk වන් අප ඔබ හා රැකියා සමබන්ධීකාරක වරුන් අතර තුන්වන පාර්ශවයක් ලෙස නිසැකයෙන්ම පෙනී සිටින අතර සම්බන්ධීකාරක වරුන් රැකියා ලබා දීමේදී ඔබ හට ලබා දෙන සියලු පොරොන්දු අනිවාර්යයෙන් ඉටු කල යුතු අතර, එසේ නොකොට ඔබට වැටුප් සිතා මතා පැහැර හැරීම ඇතුලුව සිදු කරන ඕනෑම කාරනාවක් සම්බන්දයෙන් parttime.lk ඔබගේ පාරිශවය වෙනුවෙන් පෙනී සිටීමට නිසැකයෙන්ම කටයුතු කරනු ඇත. එමනිසා ඔබට සම්බන්ධීකාරක වරුන් සම්බන්ද ඕනෑම ගැටලුවක් parttime.lk වන අප වෙත දැනුම් දීම ඉතා වැදගත් වන අතර එය ඔබගේ අයිතියක්ද වනු ඇත.
                                    </li>
                                    <li>
                                        ඔබගේ පැමිනිලි පහත අන්ක සදහා යොමු කරන්න.
                                    </li>
                                    <li>
                                        077 062 7327 (Dinuka)
                                    </li>
                                    <li>
                                        071 734 7327 (Asanga)
                                    </li>
                                </ul>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Modal Success -->
            <div class="modal fade" id="successModel" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-success">
                                <strong>Success!</strong> Changes successful saved!.
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Modal Fail -->
            <div class="modal fade" id="failModel" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger">
                                <strong>Success!</strong> Changes not saved!.
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 1.0.1
            </div>
            @*<strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.*@
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>

    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>*@

    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/TemplateAssets/WebSite/assets/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/TemplateAssets/WebSite/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/TemplateAssets/DashBord/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/TemplateAssets/DashBord//plugins/daterangepicker/daterangepicker.js"></script>
    <!-- AdminLTE App -->
    <script src="~/TemplateAssets/DashBord/dist/js/adminlte.js"></script>
    <!-- Select2 -->
    <script src="~/TemplateAssets/DashBord/plugins/select2/js/select2.full.min.js"></script>
    <!-- InputMask -->
    @*<script src="~/TemplateAssets/DashBord/plugins/moment/moment.min.js"></script>*@
    <script src="~/TemplateAssets/DashBord/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <!-- OPTIONAL SCRIPTS -->
    @*<script src="~/TemplateAssets/DashBord/dist/js/demo.js"></script>*@

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    @*<script src="~/TemplateAssets/DashBord/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
        <script src="~/TemplateAssets/DashBord/plugins/raphael/raphael.min.js"></script>
        <script src="~/TemplateAssets/DashBord/plugins/jquery-mapael/jquery.mapael.min.js"></script>
        <script src="~/TemplateAssets/DashBord/plugins/jquery-mapael/maps/usa_states.min.js"></script>*@
    <!-- ChartJS -->
    @*<script src="~/TemplateAssets/DashBord/plugins/chart.js/Chart.min.js"></script>*@

    <!-- PAGE SCRIPTS -->
    @*<script src="~/TemplateAssets/DashBord/dist/js/pages/dashboard2.js"></script>*@

    @Scripts.Render("~/Scripts/Js/index.js")

</body>
</html>
