<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>PartTime | @ViewBag.Title</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/SiteImages/favicon.jpg" rel="icon">
    <link href="~/TemplateAssets/WebSite/assets/WebSite/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/TemplateAssets/WebSite/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/TemplateAssets/WebSite/assets/vendor/icofont/icofont.min.css" rel="stylesheet">

    <link href="~/TemplateAssets/WebSite/assets/vendor/animate.css/animate.min.css" rel="stylesheet">

    <link href="~/TemplateAssets/WebSite/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="~/TemplateAssets/WebSite/assets/vendor/nivo-slider/css/nivo-slider.css" rel="stylesheet">

    <link href="~/TemplateAssets/WebSite/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/TemplateAssets/WebSite/assets/vendor/venobox/venobox.css" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link href="~/TemplateAssets/WebSite/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: eBusiness - v2.1.1
    * Template URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

</head>

<body data-spy="scroll" data-target="#navbar-example">
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex">

            <div class="logo mr-auto">
                @*<h1 class="text-light"><a href="index.html">Part Time</a></h1>*@
                <!-- Uncomment below if you prefer to use an image logo -->
                <a href="#"><img src="~/SiteImages/Logo.jpg" alt="PartTime" class="img-fluid"></a>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#blog">Blog</a></li>

                    <li><a href="#contact">Contact</a></li>
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->


    <div>
        @RenderBody()
        <hr />
        <!-- ======= Footer ======= -->
        <footer>
            <div class="footer-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="footer-content">
                                <div class="footer-head">
                                    <div class="footer-logo">
                                        <h2><span>e</span>Business</h2>
                                    </div>

                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                                    <div class="footer-icons">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-google"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end single footer -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="footer-content">
                                <div class="footer-head">
                                    <h4>information</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                    </p>
                                    <div class="footer-contacts">
                                        <p><span>Tel:</span> +123 456 789</p>
                                        <p><span>Email:</span> contact@example.com</p>
                                        <p><span>Working Hours:</span> 9am-5pm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end single footer -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="footer-content">
                                <div class="footer-head">
                                    <h4>Instagram</h4>
                                    <div class="flicker-img">
                                        <a href="#"><img src="~/TemplateAssets/WebSite/assets/img/portfolio/1.jpg" alt=""></a>
                                        <a href="#"><img src="~/TemplateAssets/WebSite/assets/img/portfolio/2.jpg" alt=""></a>
                                        <a href="#"><img src="~/TemplateAssets/WebSite/assets/img/portfolio/3.jpg" alt=""></a>
                                        <a href="#"><img src="~/TemplateAssets/WebSite/assets/img/portfolio/4.jpg" alt=""></a>
                                        <a href="#"><img src="~/TemplateAssets/WebSite/assets/img/portfolio/5.jpg" alt=""></a>
                                        <a href="#"><img src="~/TemplateAssets/WebSite/assets/img/portfolio/6.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-area-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="copyright text-center">
                                <p>
                                    &copy; Copyright <strong>eBusiness</strong>. All Rights Reserved
                                </p>
                            </div>
                            <div class="credits">
                                <!--
                                  All the links in the footer should remain intact.
                                  You can delete the links only if you purchased the pro version.
                                  Licensing information: https://bootstrapmade.com/license/
                                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
                                -->
                                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!-- End  Footer -->
    </div>

    <!-- Vendor JS Files -->
    <script src="~/TemplateAssets/WebSite/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/TemplateAssets/WebSite/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/TemplateAssets/WebSite/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/TemplateAssets/WebSite/assets/vendor/php-email-form/validate.js"></script>


    <script src="~/TemplateAssets/WebSite/assets/vendor/appear/jquery.appear.js"></script>
    <script src="~/TemplateAssets/WebSite/assets/vendor/knob/jquery.knob.js"></script>
    <script src="~/TemplateAssets/WebSite/assets/vendor/parallax/parallax.js"></script>
    <script src="~/TemplateAssets/WebSite/assets/vendor/wow/wow.min.js"></script>


    <script src="~/TemplateAssets/WebSite/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <script src="~/TemplateAssets/WebSite/assets/vendor/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="~/TemplateAssets/WebSite/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/TemplateAssets/WebSite/assets/vendor/venobox/venobox.min.js"></script>


    <!-- Template Main JS File -->
    <script src="~/TemplateAssets/WebSite/assets/js/main.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
